.hero {
    background: linear-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 255, 0.1)), 
    url('/assets/img/fundo-azul.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ativa o efeito parallax */
 
}